/* If ::ng-deep will bw deprecated, this style must be moved to the
   global styles of the project (e.g. file 'styles.scss') and the main
   selectors (':host ::ng-deep) must be adapted accordingly. If we want
   to limit this styles to a specific instance of mat-image-grid, then
   we could add the selector of a parent component to the selectors
   (e.g. '.my-main-component .mat-image-grid-date').
 */

:host {
  --mig-overlay-visible: visible;
  --mig-full-screen-visible: hidden;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    .mat-image-grid-date {
      background-color: rgb(211 211 211);
      color: white;
      font-size: 11px;
      opacity: 0;
      padding: 0 4px;
      position: absolute;
      top: 0;
    }

    .mat-image-grid-desc {
      background-color: rgb(211 211 211);
      bottom: 0;
      color: white;
      font-size: 11px;
      overflow: hidden;
      padding: 0 4px;
      opacity: 0;
      position: absolute;
      white-space: nowrap;
    }

    .mat-image-grid-overlay {
      visibility: var(--mig-overlay-visible);
    }

    .mat-image-grid-full-image-visibility {
      visibility: var(--mig-full-screen-visible);
    }
  }
}
