<div class="grid-header">
  <div class="grid-option-show-details">
    <mat-slide-toggle
      class="with-footer-toggle"
      [checked]="showImageDetails"
      (change)="onShowImageDetails($event)"
      >With image details</mat-slide-toggle
    >
  </div>
  <div class="grid-information">
    {{ mig.numberOfLoadedImages | async }} /
    {{ mig.numberOfImagesOnServer | async }} Einträge
  </div>
</div>

<mat-image-grid
  #mig
  [withImageClickEvents]="true"
  [urlForSize]="urlForSize"
  [createMigImage]="createMigImage"
  [style.--mig-overlay-visible]="showImageDetailsStyle"
>
  loading...
</mat-image-grid>
