<div class="grid-header">
  <div class="grid-option-show-details">
    <mat-slide-toggle
      class="toggle-option"
      [checked]="showImageDetails"
      (change)="onShowImageDetails($event)"
      >With image details</mat-slide-toggle
    >
  </div>
  <div class="grid-option-show-full-screen">
    <mat-slide-toggle
      class="toggle-option"
      [checked]="showImageFullScreen"
      (change)="onShowFullScreenImage($event)"
      >With full screen image</mat-slide-toggle
    >
  </div>
  <div class="grid-information">
    {{ mig.numberOfImagesOnServerFiltered | async }} /
    {{ mig.numberOfImagesOnServer | async }} Einträge
  </div>
</div>

<mat-image-grid
  class="mig-extended"
  #mig
  [withImageClickEvents]="true"
  [dataSource]="extendedDataSource"
  [urlForImage]="urlForImage"
  [urlForThumbnail]="urlForThumbnail"
  [createMigImage]="createMigImage"
  [style.--mig-overlay-visible]="showImageDetailsStyle"
  [style.--mig-full-screen-visible]="showImageFullScreenStyle"
  (imageClicked)="pigImageOnClick($event)"
>
  loading...
</mat-image-grid>
