.main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.header {
  display: grid;
  flex-grow: 0;
  grid-template-columns: max-content auto max-content;
  margin: 0.25em 0.5em 0.75em;
}

.header-source {
  place-self: center center;
  margin: 0 2em;
}

.content-images {
  --app-root-tab-row-spacer: 0.2em;
  --app-root-pages-panel-spacer: 4px;

  display: flex;
  flex: 1 0;
  flex-flow: column;
  margin: 0 1em 1em;
  overflow: auto;
}

.footer {
  flex-grow: 0;
  font-size: smaller;
  margin: 0.25em 0.5em 0.75em;
}

.text-spacer {
  margin: 0 0.5em;
}

.tab-row {
  margin: 0 0 var(--app-root-tab-row-spacer);
}

.pages-panel {
  flex: 1 0;
  margin: 0 0 var(--app-root-pages-panel-spacer)
    var(--app-root-pages-panel-spacer);
  overflow: hidden;
  width: calc(100% - 2 * var(--app-root-pages-panel-spacer));
}
