.main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: max-content auto max-content;
  margin: 0.25em 0.5em 0.75em;
}

.header-source {
  place-self: center center;
  margin: 0 2em;
}

.content-images {
  flex-grow: 1;
  margin: 0 1em 1.5em;
  overflow: auto;
}

.footer {
  flex-grow: 0;
  font-size: smaller;
  margin: 0.25em 0.5em 0.75em;
}

.text-spacer {
  margin: 0 0.5em;
}
