name: publish-demo-to-github-pages

on:
  push:
    branches: ['main']
  workflow_dispatch:

# Ensure only one deployment runs at a time.
# We set 'cancel-in-progress: false' to let active deployments finish safely before starting a new one.
concurrency:
  group: 'pages'
  cancel-in-progress: false

env:
  # Avoid installing Git Hooks
  HUSKY: 0

jobs:
  publish:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      contents: read
      pages: write
      id-token: write

    runs-on: ubuntu-24.04

    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Use Node v22
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: npm ci and npm build files for ghpages
        run: |
          npm ci
          npm run build:ghpages
          # Create .nojekyll to disable Jekyll processing (speeds up build and allows files starting with _)
          touch ghpages/.nojekyll

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'ghpages'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
